@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font1: 'Noto Serif Display', serif;
    --font2: 'Jost', sans-serif;
    --bkg: rgb(192, 156, 113);
    --white: rgb(235, 228, 220);
    --blue: rgb(40, 111, 158);
    --green: rgb(115, 167, 127);
    --red: rgb(197, 100, 100);
    --gray: rgb(78, 78, 78);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bkg);
    font-family: var(--font2);
    font-weight: 300;
    font-size: calc(1vh + 1vw);
    line-height: 2.25em;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
}

.one {
    overflow: hidden;
}

.two {
    padding: 0 2vw;
    overflow: hidden;
}

.three {
    padding: 0 2vw;
    overflow: hidden;
}

.four {
    overflow: hidden;
}

.scroll-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 1fr;
}

h3 {
    font-family: var(--font2);
    text-transform: capitalize;
    font-weight: 900;
    font-size: calc(2.5vh + 3vw);
    margin-bottom: 0.5em;
    line-height: 1em;
}

span {
    font-weight: 700;
    font-size: calc(2.25vh + 1vw);
}

li {
    line-height: 1.5em;
    margin-bottom: 25px;
}

/* This is sound */

.sound {
    position: absolute;
    top: 1%;
    right: 5%;
    z-index: 10;
}

button {
    font-family: var(--font2);
    font-weight: 500;
    font-size: 0.55em;
    color: var(--bkg);
    background: var(--gray);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    box-shadow: 0px 0px 5px var(--gray);
}

button:hover {
    color: var(--gray);
    background: var(--white);
    transition: ease-in-out 0.2s;
}

/* This is page 1 */

.wave-1 {
    background: url(./assets/wave-1@2x.png) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
}

.wave-2 {
    background: url(./assets/wave-2@2x.png) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
}

.wave-3 {
    background: url(./assets/wave-3@2x.png) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
}

.turtle-underwater {
    background: url(./assets/turtle-underwater@2x.png) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
}

.bkg-plain {
    background: url(./assets/beach-bkg-no-turtle@2x.png) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}

/* This is page 2 - The Beginning*/

.scroll-text-1 {
    height: 70vh;
    margin-top: 15vh;
    padding: 5% 10%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    box-shadow: 0px 0px 20px var(--gray);
}

.scroll-text-1 h3 {
    color: var(--green);
}

.scroll-text-1 span {
    color: var(--green);
}

.imgContent {
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
}

.turtle-1 {
    background: url(./assets/turtle-1.1.png);
    height: 15vw;
    width: 15vw;
    background-position: center;
    background-size: cover;
}

.turtle-2 {
    background: url(./assets/turtle-1.1.png);
    height: 15vw;
    width: 15vw;
    background-position: center;
    background-size: cover;
}

.turtle-3 {
    background: url(./assets/turtle-1.1.png);
    height: 15vw;
    width: 15vw;
    background-position: center;
    background-size: cover;
}

/* This is page 3 - The Challenges*/

.scroll-text-2 {
    height: 70vh;
    margin-top: 15vh;
    padding: 5% 10%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    box-shadow: 0px 0px 20px var(--gray);
}

.scroll-text-2 h3 {
    color: var(--red);
}

.scroll-text-2 span {
    color: var(--red);
}

.three .imgContent {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.vulture-1 {
    background: url(./assets/vulture-left@2x.png);
    height: 80vh;
    width: 80vh;
    background-position: center;
    background-size: cover;
}

.sub-imgContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}

.vulture-2 {
    background: url(./assets/vulture-right@2x.png);
    opacity: 60%;
    height: 35vh;
    width: 35vh;
    background-position: center;
    background-size: cover;
}

.vulture-3 {
    background: url(./assets/vulture-left@2x.png);
    opacity: 20%;
    height: 15vh;
    width: 15vh;
    background-position: center;
    background-size: cover;
}

/* This is page 4 - More Info*/

.four .imgContent {
    display: grid;
    grid-template-rows: 1vw 1fr;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.last-turtles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.turtle-4 {
    background: url(./assets/turtle-1.1.png);
    height: 10vw;
    width: 10vw;
    justify-self: center;
    background-position: center;
    background-size: cover;
}

.turtle-5 {
    background: url(./assets/turtle-1.1.png);
    height: 10vw;
    width: 10vw;
    justify-self: center;
    background-position: center;
    background-size: cover;
}

.turtle-6 {
    background: url(./assets/turtle-1.1.png);
    height: 10vw;
    width: 10vw;
    justify-self: center;
    background-position: center;
    background-size: cover;
}

.turtle-7 {
    background: url(./assets/turtle-1.1.png);
    height: 10vw;
    width: 10vw;
    justify-self: center;
    background-position: center;
    background-size: cover;
}

.ocean-1 {
    background: url(./assets/ocean-layer-1@2x.png);
    height: 100vh;
    width: 100vw;
    opacity: 95%;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.ocean-2 {
    background: url(./assets/ocean-layer-2@2x.png);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
}

.ocean-3 {
    background: url(./assets/ocean-layer-3@2x.png);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
}

.scroll-text-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 50vw;
    padding: 5% 10%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    box-shadow: 0px 0px 20px var(--gray);
    z-index: 5;
}

.scroll-text-3 h3 {
    color: var(--blue);
}

.scroll-text-3 p {
    line-height: 1.5em;
    margin-bottom: 25px;
}

.scroll-text-3 span {
    color: var(--blue);
}

li a {
    text-decoration: none;
    color: var(--blue);
    font-weight: 500;
    font-size: calc(1.1vh + 0.5vw);
    transition: ease-in-out 0.2s;
}

.scroll-text-3 a:hover {
    color: var(--white);
    background: var(--blue);
    padding: 10px;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
}

.sub-credit {
    font-size: calc(1vh + 0.35vw);
    font-style: italic;
    opacity: 40%;
    font-weight: 900;
    color: var(--bkg);
}

.sub-credit a {
    text-decoration: none;
    color: var(--blue);
    transition: ease-in-out 0.2s;
}

.sub-credit a:hover {
    background: var(--blue);
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
}

.credit {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: var(--white);
    opacity: 90%;
    font-size: calc(1vh + 0.35vw);
}

.credit span {
    color: var(--red);
    font-size: calc(1vh + 0.35vw);
}

.author {
    text-decoration: none;
    font-weight: 700;
    color: var(--bkg);
    transition: ease-in-out 0.2s;
}

.credit a:hover {
    color: var(--white);
    background: var(--bkg);
    padding: 10px;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
}