@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font1: 'Noto Serif Display', serif;
    --font2: 'Jost', sans-serif;
    --bkg: rgb(192, 156, 113);
    --textBkg: rgb(226, 215, 202);
    --blue: rgb(27, 87, 128);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.one {
    background: url(./assets/beach-bkg.png) no-repeat;
    background-position: bottom;
    background-size: cover;
}

.two {
    background: var(--bkg);
    padding: 2rem 1rem;
}

.three {
    background: var(--bkg);

}

.four {
    background: var(--bkg);
}

.scroll-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 1fr;

}

.scroll-text {
    height: 60vh;
    margin-top: 20vh;
    padding: 5% 10%;
    background: var(--textBkg);

}

h3 {
    color: var(--blue);
    font-family: var(--font1);
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 0.5em;
}

li {
    font-family: var(--font2);
    font-weight: 300;
    font-size: 2rem;
    line-height: 2em;

}

.imgContent {
    display: flex;
    align-items: end;
    justify-content: center;
}

.imgDown {
    background: rgb(125, 125, 125);
    height: 100px;
    width: 100px;

}